@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background: #131c3c;
}

.conteiner {
    overflow: hidden;
    width: 100%;
    margin: auto;
}

#main-header {
    background-color: #252e7a;
    padding-bottom: 5%;
    padding-top: 5%;
    color: white; 
}

h1 {
    margin-left: 3%;
}

ul {
    padding-bottom: 5%;
    padding-top: 5%;
    background: #335595;
}

li {
    display: inline;
    background: rgba(0, 0, 0, 0);
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
    margin-left: 3%;
    border: solid white;
    animation-name: menu;
    transition-property: all;
    cursor: pointer;
    animation-duration: 2s;
}

@keyframes menu {
    from {
        margin-left: 0%;
    }


	to {
        margin-left: 3%;
	}
}

li:hover {
    background: #1f5ed1;
    transition: all 0.5s ease;
}

.images {
    display: inline-block;
    margin-top: 300px;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

section {
    background-image: url(kosmos.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    font-size: 25px;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

main {
    width: 55%;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    background: #1f5ed1;
    padding: 2.5% 2.5% 2.5% 2.5%;
    color: white;
    font-size: 16px;
    
}

aside {
    float: right;
    background: #252e7a;
    width: 30%;
    padding: 2.5% 2.5% 2.5% 2.5%;
    color: white;
    margin-right: 2%;
    margin-top: 3%;
    font-size: 16px;
}

h2 {
    color: black;
    font-weight: 900;
}

.text {
    margin-top: 2%;
}
  
footer {
    margin-top: 40%;
    background: #2e47a3;
    padding-bottom: 5%;
    padding-top: 2%;
    text-align: center;
    font-size: 25px;
}

img {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

img:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.5s linear;
}

@media(max-width: 600px) {
    main {
      width: 100%;
      float: none;
    }
  
    aside { 
      width: 100%;
      float: none;
    }
  
  }

  @media(min-width: 3840px) {
    main {
      font-size: 65px;
    }
  
    aside { 
        font-size: 65px;
     
    }
  
  }

